body,html{
    height:100%;
}
.text-editor-container{
    position: relative;
    height: 90%;
    border:3px solid white;
}
.text-editor{
    outline: none;
    border: 0;
}
.text-editor:active, .text-editor:focus{
     outline: none;
}
.margin-top-20{
    margin-top:20px;
}
